.container {
    max-width: var(--max-width-container);
    margin: auto;
    padding-left: var(--padding-container);
    padding-right: var(--padding-container);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }