.nav{
    --test: #0088;
    border: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nav:target{
    --test: #0808;
}

.nav__logo{
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}