.nav{
    --translate-list-header: 100%;
    border: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nav:target{
    --translate-list-header: 0; /* --test valor de la variable */
}

.nav__logo{
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}