body{
  background-image: url("../img/bg\ \(1\)_11zon.webp");
  background-position: right 35% bottom 45%;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
}