.section--hero{
  background-image: url('https://i.postimg.cc/7PJV8Dp8/react-01-01-wpo.webp');
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  min-height: 100vh;
}

.section__hero-container{
  position: relative;
  max-width: 256px;
}

.section__hero-img{
  background-color: #fff8;
  border-radius: 50%;
  width: 256px;
  height: 256px;
}

.section__hero-technologies{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  animation: t-rotate 10s linear infinite;
}

.section__hero-tech{
  position: absolute;
  background-color: white;
  padding: 0.5rem;
  border-radius: 50%;
}

.section__hero-tech:nth-child(1){
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
}

.section__hero-tech:nth-child(2){
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%) rotate(90deg);
}

.section__hero-tech:nth-child(3){
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%) rotate(-90deg);
}

.section__hero-tech:nth-child(4){
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
}