@keyframes zoom{ /*@keyframes -> propiedad de animacion "zoom"-> nombre de la funcion */
    from {
        transform: scale(1);
    }

    to{
        transform: scale(1.125);
    }
}

@keyframes rotation{
    from {
        transform: rotate(0deg);
    }

    to{
        transform: rotate(359deg);
    }
}

@keyframes translate{
    from {
        transform: translate(0%);
    }

    to{
        transform: translate(100%);
    }
}