.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.hero__name{
    display: block;
    font-size: 4rem;
    text-decoration: none;
    animation: zoom 1s ease-in-out 0s infinite alternate;
}

.hero__letter{
    display: inline-block;
    position: relative;
    transition: filter 1s ease-in-out, transform 0.5s linear;
}

.hero__letter:hover{
    filter: brightness(2.5);
}

.hero__letter::before{
    content: var(--letter);
    position: absolute;
    left: 0;
    top: 0;
    filter: blur(0.25rem);
    transform: scale(1.125);
}

.hero__letter::after{
    content: var(--letter);
    position: absolute;
    left: 0;
    top: 87.5%;
    filter: blur(0.125rem);
    transform: rotateX(137.5deg);
}

.hero__letter:nth-child(1){
    color: #00bef8;
}

.hero__letter:nth-child(2){
    color: #ff0697;
}

.hero__letter:nth-child(3){
    color: #ff4d00;
}

.hero__letter:nth-child(4){
    color: #ffe600;
}