.section{
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
  }
  
.section--hero{
    box-sizing: border-box;
    min-height: 100vh;
}
  
.container {
    max-width: var(--max-width-container);
    margin: 0 auto;
    padding-left: var(--padding-container);
    padding-right: var(--padding-container); 
}

.f-elements{
    display: flex;
}

.f-elements--between{
    align-items: center;
    justify-content: space-between;
}

.f-elements--center{
    align-items: center;
    justify-content: center;
}

.f-elements--responsive{
    flex-direction: column;
}

@media (min-width:768px){
    .f-elements--responsive{
        flex-direction: row;
    }
}

.section__name{
    display: block;
    font-size: 4rem;
    text-decoration: none;
    animation: zoom 1s ease-in-out 0s infinite alternate;
}

.section__letter{
    display: inline-block;
    position: relative;
    transition: filter 1s ease-in-out, transform 0.5s linear;
}

.section__letter:hover{
    filter: brightness(2.5);
}

.section__letter::before{
    content: var(--letter);
    position: absolute;
    left: 0;
    top: 0;
    filter: blur(0.25rem);
    transform: scale(1.125);
}

.section__letter::after{
    content: var(--letter);
    position: absolute;
    left: 0;
    top: 87.5%;
    filter: blur(0.125rem);
    transform: rotateX(137.5deg);
}

.section__letter:nth-child(1){
    color: var(--letter-color-1);
}

.section__letter:nth-child(2){
    color: var(--letter-color-2);
}

.section__letter:nth-child(3){
    color: var(--letter-color-3);
}

.section__letter:nth-child(4){
    color: var(--letter-color-4);
}