:root{
    --primary-theme-color: #1da2d8;
    --secundary-theme-color:#064273;
    --third-theme-color:#003366;
    --primary-text-color:#fff;
    --primary-highlight-color: #61dafb;
    --letter-color-1: #00bef8;
    --letter-color-2: #ff0697;
    --letter-color-3: #ff4d00;
    --letter-color-4: #ffe600;
    --primary-font-family: serif;
    --max-width-container: 1024px;
    --padding-section: 1.5rem;
    --padding-container: 1rem;
    --primary-border-radius: 0.5rem;
}