@import './modules/variables.css';
@import './modules/layout.css';
@import './modules/animations.css';

.body{
    background-image: linear-gradient(to top,var(--third-theme-color) 42%,var(--primary-theme-color), var(--secundary-theme-color));
    color: var(--primary-text-color);
    font-family: serif;
    min-height: 100vh;
}

