@import './modules/variables.css';
@import './modules/hero.css';

.body{
    background-image: linear-gradient(var(--primary-theme-color), var(--secundary-theme-color));
    color: var(--primary-text-color);
    font-family: serif;
    min-height: 100vh;
}

