:root{
  --primary-color: white;
  --second-color: #DC0058;
  --primary-bg-color: rgba(33, 36, 44, 0.875);
  --second-bg-color: #20232a;
  --third-bg-color: rgba(40, 44, 52, 0.875);
  --font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.body{
  background-image: url("../img/bg\ \(1\)_11zon.webp");
  background-position: right 35% bottom 45%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: var(--font-family);
  margin: 0;
}
.profile{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0.005rem 0;
}
.profile__container{
  padding: 0 2rem;
}
.card{
  border-radius: 1rem;
  box-shadow: 0 0 0.125rem 0.125rem var(--primary-color);
  overflow: hidden;
  max-width: 320px;
  transition: box-shadow 0.25s;
}
.card:hover{
  box-shadow: 0 0 0.125rem 0.125rem var(--second-color);
}
.card__header, .card__footer{
  background-color: var(--primary-bg-color);
  padding: 1rem;
}
.card__header-img-container{
  display: flex;
  border-radius: 50%;
  overflow: hidden;
  width: 256px;
  height: 256px;
  background-color: var(--second-bg-color);
  margin: auto;
}
.card__header-img{
  width: 100%;
  height: 100%;
}
.card__body{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--third-bg-color);
  padding: 1rem;
}
.card__body-title,
.card__body-keywords,
.card__body-presentation{
  margin: 0;
  text-align: center;
}
.card__body-title{
  font-size: 1.25rem;
}
.card__body-keywords{
  font-size: 1.125rem;
}
.card__body-presentation{
  font-size: 0.875rem;
}
.card__body-presentation::before, 
.card__body-presentation::after{
  content: "🤍";
}

.card__footer-nav-list{
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;
}
.card__footer-nav-item{
  display: flex;
}
.card__footer-nav-link{
  width: 2rem;
  height: 2rem;
  transition: transform 0.25s;
}
.card__footer-nav-link:hover{
  transform: scale(1.25);
}
.card__footer-nav-img{
  width: 100%;
  height: 100%;
}

/*new*/
@keyframes tech-jump {
  0% {
    margin-top: 0;
  }

  100% {
    margin-top: 1rem;
  }
}
.profile__figure {
  display: none;
}

@media (min-width: 854px) {
  .profile{
    justify-content: start;
    margin: 0 3rem;
  }
  .profile__container{
    display: flex;
    width: 100%;
  }
  .card{
    max-width: 512px;
  }
  .card__body{
    gap: 1rem;
    padding: 2rem;
  }
  .card__body-title{
    font-size: 1.5rem;
  }
  .card__body-keywords{
    font-size: 1rem;
  }
  .profile__figure {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: auto;
  }
  
  .profile__figure-image-container {
    position: relative;
    display: flex;
    max-width: 256px;
    margin: auto;
  }
  
  .profile__figure-image {
    border-radius: 50%;
    width: 100%;
    transition: var(--all-transitions);
  }
  
  .profile__figure-image:hover {
    box-shadow:
      0 0 0.25rem 0 var(--primary-highlight-color),
      0 0 0.5rem 0 var(--primary-highlight-color);
  }
  
  .profile__figure-tech-one {
    position: absolute;
    width: 25%;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: tech-jump 1s ease-in-out -1s infinite alternate;
    pointer-events: none;
  }
  
  .profile__figure-tech-two {
    position: absolute;
    width: 25%;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    animation: tech-jump 1s ease-in-out -0.75s infinite alternate;
    pointer-events: none;
  }
  
  .profile__figure-tech-three {
    position: absolute;
    width: 25%;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    animation: tech-jump 1s ease-in-out -0.5s infinite alternate;
    pointer-events: none;
  }
  
  .profile__figure-tech-four {
    position: absolute;
    width: 25%;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: tech-jump 1s ease-in-out -0.25s infinite alternate;
    pointer-events: none;
  }
  .profile__figure-image-container {
    max-width: 360px;
  }
}