*{
  font-family: Arial, Helvetica, sans-serif;
}
body{
  width: 100%;
}
header nav{
    display: flex;
    width: 100%;
}
header nav ul{
  display: flex;
  justify-content: space-between;
}
/*@media (min-width:360px){
  
}*/